In [2]:
import pandas as pd
from tkinter import filedialog as fd

In [3]:
file_path = fd.askopenfilename(
    title='Selecione o arquivo Excel com a lista de destinatarios',
    filetypes=[
        ('Arquivo Excel','.xls'),
        ('Arquivo Excel','.xlsx')]
    )

# ler arquivo Excel, precisa tres colunas
contatos_df = pd.read_excel(file_path, sheet_name='CLIENTES')

In [4]:
contatos_df = contatos_df[~contatos_df['MENSAGEM'].isnull()]

In [5]:
contatos_df

,CLIENTE,TELEFONE,MENSAGEM
0,Izabel,55 (71) 9101-3035,Mensagem de Teste para Izabel
1,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
2,Acirema,55 (71) 9101-3035,Mensagem de Teste para Acirema
5,Ana Carla Sampaio,55 (71) 9101-3035,Mensagem de Teste para Ana Carla Sampaio
6,Ana Luisa,55 (71) 9101-3035,Mensagem de Teste para Ana Luisa
...,...,...,...
159,Yasmim,55 (71) 9101-3035,Mensagem de Teste para Yasmim
161,Mailin,55 (71) 9101-3035,Mensagem de Teste para Mailin
162,Erlon,55 (71) 9101-3035,Mensagem de Teste para Erlon
164,Zilca,55 (71) 9101-3035,Mensagem de Teste para Zilca
166,Judi Correia Viana,55 (71) 9101-3035,Mensagem de Teste para Judi Correia Viana

In [9]:
contatos_df.reset_index(inplace=True)

In [10]:
contatos_df

,index,CLIENTE,TELEFONE,MENSAGEM
0,0,Izabel,55 (71) 9101-3035,Mensagem de Teste para Izabel
1,1,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
2,2,Acirema,55 (71) 9101-3035,Mensagem de Teste para Acirema
3,5,Ana Carla Sampaio,55 (71) 9101-3035,Mensagem de Teste para Ana Carla Sampaio
4,6,Ana Luisa,55 (71) 9101-3035,Mensagem de Teste para Ana Luisa
...,...,...,...,...
110,159,Yasmim,55 (71) 9101-3035,Mensagem de Teste para Yasmim
111,161,Mailin,55 (71) 9101-3035,Mensagem de Teste para Mailin
112,162,Erlon,55 (71) 9101-3035,Mensagem de Teste para Erlon
113,164,Zilca,55 (71) 9101-3035,Mensagem de Teste para Zilca
114,166,Judi Correia Viana,55 (71) 9101-3035,Mensagem de Teste para Judi Correia Viana

In [13]:
contatos_df.drop(labels='index',axis=1,inplace=True)

In [14]:
contatos_df

,CLIENTE,TELEFONE,MENSAGEM
0,Izabel,55 (71) 9101-3035,Mensagem de Teste para Izabel
1,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
2,Acirema,55 (71) 9101-3035,Mensagem de Teste para Acirema
3,Ana Carla Sampaio,55 (71) 9101-3035,Mensagem de Teste para Ana Carla Sampaio
4,Ana Luisa,55 (71) 9101-3035,Mensagem de Teste para Ana Luisa
...,...,...,...
110,Yasmim,55 (71) 9101-3035,Mensagem de Teste para Yasmim
111,Mailin,55 (71) 9101-3035,Mensagem de Teste para Mailin
112,Erlon,55 (71) 9101-3035,Mensagem de Teste para Erlon
113,Zilca,55 (71) 9101-3035,Mensagem de Teste para Zilca
114,Judi Correia Viana,55 (71) 9101-3035,Mensagem de Teste para Judi Correia Viana