In [1]:
import pandas as pd
from tkinter import filedialog as fd

In [2]:
file_path = fd.askopenfilename(
    title='Selecione o arquivo Excel com a lista de destinatarios',
    filetypes=[
        ('Arquivo Excel','.xls'),
        ('Arquivo Excel','.xlsx')]
    )

# ler arquivo Excel, precisa tres colunas
contatos_df = pd.read_excel(file_path, sheet_name='CLIENTES')

In [3]:
contatos_df = contatos_df[~contatos_df['MENSAGEM'].isnull()]

In [4]:
contatos_df

,CLIENTE,TELEFONE,MENSAGEM
0,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
1,Pedro with valid message,55 (71) 9101-3035,Mensagem de Teste para Pedro with valid message
3,Pedro Wrong Number,555-5555,Mensagem de Teste para Pedro Wrong Number
4,José valid message,55 (71) 9101-3035,Mensagem de Teste para José valid message
5,José wrong number,555-5555,Mensagem de Teste para José wrong number
8,Maria with message,55 (71) 9101-3035,Mensagem de Teste para Maria with message
9,Maria Wrong number,555-5555,Mensagem de Teste para Maria Wrong number

In [5]:
contatos_df.reset_index(inplace=True)

In [6]:
contatos_df

,index,CLIENTE,TELEFONE,MENSAGEM
0,0,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
1,1,Pedro with valid message,55 (71) 9101-3035,Mensagem de Teste para Pedro with valid message
2,3,Pedro Wrong Number,555-5555,Mensagem de Teste para Pedro Wrong Number
3,4,José valid message,55 (71) 9101-3035,Mensagem de Teste para José valid message
4,5,José wrong number,555-5555,Mensagem de Teste para José wrong number
5,8,Maria with message,55 (71) 9101-3035,Mensagem de Teste para Maria with message
6,9,Maria Wrong number,555-5555,Mensagem de Teste para Maria Wrong number

In [7]:
contatos_df.drop(labels='index',axis=1,inplace=True)

In [8]:
contatos_df

,CLIENTE,TELEFONE,MENSAGEM
0,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo
1,Pedro with valid message,55 (71) 9101-3035,Mensagem de Teste para Pedro with valid message
2,Pedro Wrong Number,555-5555,Mensagem de Teste para Pedro Wrong Number
3,José valid message,55 (71) 9101-3035,Mensagem de Teste para José valid message
4,José wrong number,555-5555,Mensagem de Teste para José wrong number
5,Maria with message,55 (71) 9101-3035,Mensagem de Teste para Maria with message
6,Maria Wrong number,555-5555,Mensagem de Teste para Maria Wrong number

In [9]:
j = 2
contatos_df.loc[j,'RESULTADO'] = 'Mensagem enviada'

In [13]:
contatos_df.loc[1,'RESULTADO'] = 'Mensagem NAO enviada'

In [14]:
contatos_df

,CLIENTE,TELEFONE,MENSAGEM,RESULTADO,"(1, RESULTADO)"
0,Pablo,55 (71) 9101-3035,Mensagem de Teste para Pablo,NaN,Mensagem NAO enviada
1,Pedro with valid message,55 (71) 9101-3035,Mensagem de Teste para Pedro with valid message,Mensagem NAO enviada,Mensagem NAO enviada
2,Pedro Wrong Number,555-5555,Mensagem de Teste para Pedro Wrong Number,Mensagem enviada,Mensagem NAO enviada
3,José valid message,55 (71) 9101-3035,Mensagem de Teste para José valid message,NaN,Mensagem NAO enviada
4,José wrong number,555-5555,Mensagem de Teste para José wrong number,NaN,Mensagem NAO enviada
5,Maria with message,55 (71) 9101-3035,Mensagem de Teste para Maria with message,NaN,Mensagem NAO enviada
6,Maria Wrong number,555-5555,Mensagem de Teste para Maria Wrong number,NaN,Mensagem NAO enviada

In [15]:
print(file_path)

E:/GitHubPersonal/SendWhatsAppMessages/Customer Messages Files/Customers Messages File.xlsx

In [16]:
from pathlib import Path

In [23]:
print(Path(file_path).parent)

E:\GitHubPersonal\SendWhatsAppMessages\Customer Messages Files

In [24]:
# Datetime to store current date of messages sent
from datetime import date

In [27]:
result_file = '{}\Resultado Envios {}.xlsx'.format(Path(file_path).parent,date.today())

In [28]:
print(result_file)

E:\GitHubPersonal\SendWhatsAppMessages\Customer Messages Files\Resultado Envios 2022-10-24.xlsx

In [29]:
contatos_df.to_excel(result_file,index=False)